/* === [IMPORTS] === */

@import url('https://fonts.googleapis.com/css?family=Raleway:900');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');


/* === [GLOBAL] === */

* { 
    margin: 0;
    border: 0;
    box-sizing:
    border-box; 
}

body { 
    margin: 0;
    overflow: hidden; 
    background-color: #0f1519; 
    user-select: none; 
}

canvas { 
    width: 100%; 
    height: 100% 
}

/* === [BRAND] === */

#brand { 
    position: fixed; 
    transition: 1s ease 0.5s; 
    font-size: 30px; 
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: subpixel-antialiased; 
    font-family: 'Raleway', sans-serif; 
    z-index: 21; 
    text-shadow: 1px 1px rgba(0,0,0,0.4); 
    pointer-events: none;
    letter-spacing: 1px;
}

.brandPos { 
    color: #f3f4f6; 
    left: 4vw; 
    top: 4vh; 
    transform: translateX(0) scale(1.5); 
}

.brandInit { 
    transform: translateX(44vw) translateY(44vh) scale(4.5); 
}

.invisible { 
    opacity: 0;
}

.visible { 
    opacity: 1; 
}

/* === [QUALITY] === */

#overlay { 
    width: 100vw; 
    height: 100vh; 
    background-color: #0f1519; 
    z-index: 20; 
    position: fixed; 
    transition: opacity 1s linear 0.5s; 
    pointer-events: none; 
    overflow: hidden;
}

#quality { 
    position: fixed; 
    width: 26vw; 
    top: 3vh; 
    left: calc(50vw - 26vw/2); 
    padding: 0px; 
    overflow: hidden; 
    transition: 1s ease 0s;
}
@media screen and (max-width: 1080px) {
    #quality { 
        width: 284px; 
        left: calc(50vw - 284px/2); 
    }
}

#quality ul { 
    list-style: none; 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

#quality ul li { 
    float: left;  
    width: calc(100% / 4); 
    list-style: none; 
    color: #949494; 
    margin: 0px; 
    padding: 0px; 
    overflow: hidden; 
    border: 1px solid rgba(148, 148, 148, 0.05); 
    border-left: none; 
    transition: 0.6s ease; 
}

#quality ul li:hover {  
    background-color: rgba(30,30,30,1); 
}

#quality li:first-child { 
    border-left: 1px solid rgba(148, 148, 148, 0.05); 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
}

#quality li:last-child { 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
}

#quality .qualities { 
    display: block; 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600; font-size: 12.5px; 
    text-decoration: none; color: #949494; 
    line-height: 25px; text-align: center; 
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: subpixel-antialiased; 
    text-shadow: 1px 1px #000000; 
    transition: 0.8s ease; 
    background-color: rgba(0,0,0,0.4);
}

#quality .qualities:hover { 
    color: #e4e5e6;
}

#quality .qualities.selected { 
    color: #e4e5e6; 
}

#quality .qualities.recommended { 
    color: #dde276; 
}

/* === [FOOTER] === */

#footer {
    position: absolute;
    right: 4vw;
    bottom: 5vh;
}

.footers, .footers a {
    font-weight: 600;
    display: inline-block;
    color: #e4e5e6;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.1px;
}

.footers a {
    text-decoration: underline;
}


/* === [NOTICE] === */

#notice  { position: fixed; width: 100vw; top: 8vh; }
#noticeText { color: #949494; font-family: 'M PLUS Rounded 1c', sans-serif; font-size: 13px; text-align: center; text-rendering: optimizeLegibility; -webkit-font-smoothing: subpixel-antialiased; transition: transform 0.8s ease 0.2s, opacity 0.8s linear; user-select: none;} 
.notice { opacity: 0; transform: translateY(10px); }
.noticePulse { opacity: 1; transform: translateY(0px); }

/* === [MENU_ICON] === */

#settings_menu {
    z-index: 10;
    position: fixed;
    right: 6vw; 
    top: 10vh;
    cursor: pointer;
}

.init_settings {
    pointer-events: none;
    opacity: 0;
    transform: translateX(20px);
}

.final_settings {
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0px);
}

.menu_unactive:hover .hover_menu{
    background-color: rgba(228, 229, 230, 0.8);
}

.menu_unactive {
    width: 30px;
    height: 16px;
    transition: 0.6s ease;
}

.menu_active .upper_menu {
    transform: rotate(45deg) scale(0.8);
}

.menu_active .lower_menu {
    transform: rotate(-45deg) scale(0.8);
}

.menu_active .middle_menu {
    width: 3px;
    transform: translateX(-15px);
    opacity: 0;
}

.upper_menu { 
    position: fixed;
    top: calc(10vh + 6px);
    right: 6vw;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #949494;
    border-radius: 5px;
    transition: 0.6s ease;
    transform-origin: center center;
    transform: translateY(-8px);
}

.middle_menu { 
    position: fixed;
    top: calc(10vh + 6px);
    right: 6vw;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #949494;
    transition: 0.6s ease;
    opacity: 1;
    border-radius: 5px;
}

.lower_menu {
    position: fixed;
    top: calc(10vh + 6px);
    right: 6vw;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #949494;
    border-radius: 5px;
    transition: 0.6s ease;
    transform-origin: center center;
    transform: translateY(8px);
    
}


/* === [SETTINGS_MENU] === */


#settings {
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    width: 320px;
    /*height: 82vh;*/
    right: 5vw;
    top: 8vh;
    transition: 0.6s ease;
    border-radius: 10px;
    color: #949494;
    overflow: hidden;
}

.settings_header {
    text-align: center;
    color: #e4e5e6;
    margin: 1.5vh 30px 1.5vh 30px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

.settings_options {
    padding: 20px;
    padding-top: 0px;
}

.settings_options ul {
    list-style: none; 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

.settings_options ul li {
    padding: 15px 0px;
    border-bottom: 1px solid #939393;
    transition: 0.6s ease;
}

.settings_options ul li:not(.selected_item):hover {
    background-color: rgba(30,30,30,0.8);
}

.settings_options ul li:last-child {
    border: 0px;
}

.settings_options ul li h3 {
    padding-left: 15px;
    display: inline-block;
    color: #e4e5e6;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    width: 0%;
    transition: 0.6s ease;
}

.settings_items.selected_item h3 {
    width: 90%;
}

.settings_options ul li p {
    margin: 15px 0;
    margin-left: 5px;
    line-height: 15.5px;
    font-size: 12px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: 0.6s ease 0.6s;
    transform: translateY(10px);
    opacity: 0;
}

.settings_items.selected_item p {
    transform: translateY(0px);
    opacity: 1;
}

.settings_items {
    overflow: hidden;
    height: 80vh;
    max-height: 45px;
}

.selected_item {
    max-height: calc(70vh - 4*30px);
}

.selected_item.radius_item {
    max-height: 300px;
}

.selected_item.viscosity_item {
    max-height: 310px;
}

.selected_item.elasticity_item { 
    max-height: 220px;
}

.selected_item.motion_blur_item { 
    max-height: 170px;
}

.selected_item.color1_item {
    max-height: 160px;
}

.selected_item .rad_range, .selected_item .vis_range, 
.selected_item .ela_range, .selected_item .mb_range {
    transform: translateY(0px);
    opacity: 1;
}

.selected_item .rad_slider {
    transform: scaleY(1) rotate(270deg);
    opacity: 1;
}

.selected_item .vis_slider, .selected_item .ela_slider,
.selected_item .color_slider, .selected_item #color1_box,
.selected_item #color2_box {
    transform: scaleX(1);
    opacity: 1;
}

.selected_item .vert_span::before, .selected_item .vert_span::after,
.selected_item .horz_span::before, .selected_item .horz_span::after,
.selected_item .horz_color_span::before {
    transform: translatex(0px);
    opacity: 1;
}

.selected_item #fluid_ball, .selected_item #fluid_box {
    opacity: 1;
}

.settings_items h3::after {
    content: '';
    display: block;
    background-color: rgba(181, 219, 229, 0.8);
    margin: 0px auto;
    margin-top: 5px;
    width: 60%;
    height: 1.2px;
    transform: scaleX(0);
    transition: 0.8s ease 0.6s;
}

.settings_items.selected_item h3::after {
    transform: scaleX(1);
}

.rad_range, .vis_range, .ela_range, .mb_range {
    letter-spacing: 1px;
    margin: 10px auto;
    text-align: center;
    display: block;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(178, 178, 178);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: 0.6s ease 0.6s;
    transform: translateY(10px);
    opacity: 0;
}

#rad_value, #vis_value, #ela_value, #mb_value {
    letter-spacing: 0.6px;
    margin-left: 10px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #4CAF50;
}

#mb_value {
    cursor: pointer;
    line-height: 16px;
    padding: 3px 7px;
    padding-bottom: 4px;
    border: 1.5px solid rgba(148, 148, 148, 0.1);
    border-radius: 10px;
    transition: 0.3s ease; 
}

#mb_value:hover {
    background-color: rgba(30, 30, 30, 0.6);
}

#rad_title_value, #vis_title_value, #ela_title_value, #motion_blur_title_value {
    position: absolute;
    right: 30px;
    letter-spacing: 0.6px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #4CAF50;
    transition: 0.4s;
    opacity: 1;
}

#color1_value {
    position: absolute;
    right: 65px;
    display: block;
    width: 25px;
    height: 25px;
    background-color: rgba(32, 149, 204,1);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 1px 1px rgba(0,0,0,0.6);
    transform: translateY(-28px);
    transition: 0.4s;
    opacity: 1;
    border-radius: 5px;
}

#color2_value {
    position: absolute;
    right: 30px;
    display: block;
    width: 25px;
    height: 25px;
    background-color: rgba(32, 204, 46,1);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 1px 1px rgba(0,0,0,0.6);
    transform: translateY(-28px);
    transition: 0.4s;
    opacity: 1;
    border-radius: 5px;
}

.selected_item #rad_title_value, .selected_item #vis_title_value,
.selected_item #ela_title_value, .selected_item #motion_blur_title_value,
.selected_item #color1_value, .selected_item #color2_value {
    opacity: 0;
}

#motion_blur_title_value.disabled, #mb_value.disabled {
    color: #af4c4c;
}

#ball_sphere {
    float: left;
    margin: 12px 50px;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px dotted white;
    transition: 0.6s ease 0.4s;
    transform: scale(0.5);
    opacity: 0;
}

#ball_sphere_inside {
    display: block;
    vertical-align:middle;
    content: '';
    width: 96px;
    height: 96px;
    border-radius: 100px;
    background-color: white;
    transition: 0.6s ease;
    opacity: 0;
    transform: scale(0.2);
}

.selected_item #ball_sphere {
    transform: scale(1);
    opacity: 1;
}

.selected_item #ball_sphere_inside {
    transform: scale(0.7);
    opacity: 1;
}

.div_slider {
    float: left;
    position: relative;
    height: 100px;
    width: 40px;
    margin: 12px auto;
}

.vis_div_slider, .ela_div_slider {
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.color_div_slider {
    margin: 30px auto;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

.rad_slider {
    position: absolute;
    top: 50%;
    margin-top: -3px;
    margin-left: -40px;
    display: block;
    height: 6px;
    padding: 0 5px;
    border-radius: 5px;   
    background: rgba(211, 211, 211, 0.7);
    outline: none;
    transform: scaleY(0) rotate(270deg);
    transition: transform 0.8s ease 0.6s, opacity 0.8s ease 0.6s, background-color 0.4s linear;
    opacity: 0;
    width: 100px;
}

.vis_slider, .ela_slider {
    display: block;
    height: 6px;
    padding: 0 5px;
    border-radius: 5px;   
    background: rgba(211, 211, 211, 0.7);
    outline: none;
    transform: scaleX(0);
    transition: transform 0.8s ease 0.6s, opacity 0.8s ease 0.6s, background-color 0.4s linear;
    opacity: 0;
    width: 160px;
    margin: 0px auto;
}

.color_slider {
    display: block;
    height: 6px;
    padding: 0 5px;
    border-radius: 5px;   
    background: rgba(211, 211, 211, 0.7);
    outline: none;
    transform: scaleX(0);
    transition: transform 0.8s ease 0.6s, opacity 0.8s ease 0.6s, background-color 0.4s linear;
    opacity: 0;
    width: 160px;
    margin: 0px auto;
    margin-left: 32px;
}

.rad_slider:hover, .vis_slider:hover,
.ela_slider:hover, .color_slider:hover {
    background: rgba(211, 211, 211, 1);
}

.vert_span::before {
    content: 'max';
    user-select: none;
    display: block;
    width: 5px;
    height: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #949494;
    margin-left: 25px;
    margin-top: -4.5px;
    transition: 0.6s ease 1.0s;
    transform: translateX(10px);
    opacity: 0;
}

.vert_span::after {
    content: 'min';
    user-select: none;
    display: block;
    width: 5px;
    height: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #949494;
    margin-left: 27px;
    margin-top: 91.5px;
    transition: 0.6s ease 1.0s;
    transform: translateX(10px);
    opacity: 0;
}

.horz_span {
    position: relative;
    width: 100%;
    height: 50px;
}

.horz_span::before {
    content: 'min';
    user-select: none;
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #949494;
    transition: 0.6s ease 1.0s;
    transform: translateX(-10px);
    left: 28px;
    top: -6.8px;
    opacity: 0;
}

.horz_span::after {
    content: 'max';
    user-select: none;
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #949494;
    transition: 0.6s ease 1.0s;
    transform: translateX(10px);
    left: 230px;
    top: -12.8px;
    opacity: 0;
}

.horz_color_span {
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    display: block;
}

.rad_slider::-webkit-slider-thumb, .vis_slider::-webkit-slider-thumb,
.ela_slider::-webkit-slider-thumb, .color_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
    box-shadow: 1px 1px rgba(0,0,0,0.4);
}

.rad_slider::-moz-range-thumb, .vis_slider::-moz-range-thumb,
.ela_slider::-moz-range-thumb, .color_slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    box-shadow: 1px 1px rgba(0,0,0,0.4);
}

#fluid_ball {
    display: inline-block;
    margin-top: 10px;
    margin-left: calc(25% - 5px);
    width: 10px;
    height: 10px;
    background-color: rgba(250,250,250,1);
    border-radius: 10px;
    transition: opacity 0.8s linear 0.6s;
    transform: translateX(0px) translateY(-20px);
    z-index: 5;
    opacity: 0;
}

#fluid_box {
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    background-color: rgba(78, 177, 163, 0.28);
    border: 1.5px solid rgba(78, 177, 163, 1);
    transition: opacity 0.8s linear 0.6s;
    opacity: 0;
    border-radius: 5px;
    z-index: 8;
}

#fluid_ball.animated {
    transform: translateX(130px) translateY(-20px);
}

#ela_box {
    margin: 30px auto;
    width: 50px;
    height: 50px;
    background-color: rgba(78, 177, 220, 0.8);
    transition: opacity 0.8s linear 0.6s, transform 0.8s ease;
    transform: scaleX(1);
    /*opacity: 0;*/
    transform-origin: right top;
    border-radius: 10px;
    z-index: 8;
}

#ela_box:hover {
    transform: scaleX(1.8) scaleY(0.2)
}

#color1_box {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: rgba(32, 149, 204,1);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 1px 1px rgba(0,0,0,0.6);
    right: 25px;
    top: -15px;
    border-radius: 5px;
    transition: opacity 0.4s linear 0.6s, transform 0.6s ease 0.6s;
    transform: scale(0);
    opacity: 0;
}

#color2_box {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: rgba(32, 204, 46,1);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 1px 1px rgba(0,0,0,0.6);
    right: 25px;
    top: -15px;
    border-radius: 5px;
    transition: opacity 0.4s linear 0.6s, transform 0.6s ease 0.6s;
    transform: scale(0);
    opacity: 0;
}